.signBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: auto;
  height: auto;
  border: 1px solid red;
  background-color: beige;
  cursor: grabbing;
  user-select: none;
  user-select: none;
}
.resize-stage {
  position: relative;
  width: 800px;
  height: 480px;
  border: 1px solid #e0e0e0;
  background: #fafafa;
  overflow: hidden; /* for contain */
}

.resizable {
  position: absolute;
  left: 0;
  top: 0; /* moved via transform */
  width: 220px;
  height: 140px;
  background: rgb(199, 199, 199);
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
  will-change: width, height, transform;
}

/* Handles */
.rh {
  position: absolute;
  background: #fff;
  border: 2px solid #1976d2;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  /* pointer-events: auto; */
  transform: translate(-50%, -50%);
}

/* Edges (bigger hit areas + cursors) */
.rh-n {
  left: 50%;
  top: 0%;
  cursor: ns-resize;
}
.rh-s {
  left: 50%;
  top: 100%;
  cursor: ns-resize;
}
.rh-e {
  left: 100%;
  top: 50%;
  cursor: ew-resize;
}
.rh-w {
  left: 0%;
  top: 50%;
  cursor: ew-resize;
}

/* Corners */
.rh-ne {
  left: 100%;
  top: 0%;
  cursor: nesw-resize;
}
.rh-nw {
  left: 0%;
  top: 0%;
  cursor: nwse-resize;
}
.rh-se {
  left: 100%;
  top: 100%;
  cursor: nwse-resize;
}
.rh-sw {
  left: 0%;
  top: 100%;
  cursor: nesw-resize;
}
